.idea
*.iml
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
